.armyInfoPanel {
    background-image: url("http://static.eaw1805.com/images/infopanels/general.png");
    border: solid 1px green
}

.corpInfoPanel {
    background-image: url("http://static.eaw1805.com/images/infopanels/general.png");
    border: solid 1px blue;
}

.clickArmyPanel {
    cursor: pointer;
}

.clickArmyPanel:Hover {
    cursor: pointer;
    /*background-color: grey;*/
}

.selectArmyPanel {
    cursor: pointer;
    background-color: grey;
}

.brigadeInfoPanel {
    background-image: url("http://static.eaw1805.com/images/infopanels/brigade.png");
    border: solid 1px yellow;
}

.freeBrigadeList {
    background-color: rgba(139, 39, 39, 0.7);
}

.newArmyPanel {
    padding: 4px;
    font-weight: bold;
    cursor: default;
    opacity: 1;
    background-color: #396b59;
    border-bottom: 2px solid black;
    margin-right: 2px;
}

.newCorpPanel {
    padding: 4px;
    font-weight: bold;
    cursor: default;
    opacity: 1;
    background-color: #6b6939;;
    border-bottom: 2px solid black;
    margin-right: 2px;
}

.freeCorpListNT {
    background-color: rgb(39, 107, 139);
}

.battalionInfoPanel {
    background-color: rgb(134, 123, 134);
    border: solid 1px rgb(223, 23, 134);
}

.armiesPanel {
    background-color: #393d2a;
}

.fleetsPanel {
    background-color: #466288;

}

.fleetInfoPanel {
    background-image: url("http://static.eaw1805.com/images/infopanels/ship.png");
    border: solid 1px black;
}

.ShipInfoPanel {
    background-image: url("http://static.eaw1805.com/images/infopanels/ship.png");
    border: solid 1px yellow;
}

.navyPanel {
    background-image: url("http://static.eaw1805.com/images/buttons/NavyBG.png");
    backgroung-color: white;
    text-shadow: silver;
}

.editName {
    cursor: text;
}

.commanderInfoPanel {
    /*background-color: #7f8837;*/
    background-image: url("http://static.eaw1805.com/images/infopanels/general.png");
    border: solid 1px yellow;

}

.brigadeSlot {
    border: 1px solid black;
    background-color: blue;
    background-image: url("http://static.eaw1805.com/images/buttons/dropBrigade.png");
}

.corpSlot {
    border: 1px solid black;
    background-color: blue;
    background-image: url("http://static.eaw1805.com/images/buttons/dropCorp.png");
}

.spiesPanel {
    background-color: #893422;
}

.spyInfoPanel {
    background-image: url("http://static.eaw1805.com/images/infopanels/spy.png");
    /*opacity:0.6;*/
    /*background-color: #344834;*/
    border: solid 1px #a5e437;
    /*color: gray;*/
}

.battalionPanel {
    background-color: rgba(169, 93, 93, 0.7);
    border: 2px inset black;
    font-size: x-small;
}

.crackBattalionPanel {
    background-color: rgba(174, 26, 26, 0.7);
    border: 2px inset black;
    font-size: x-small;
}

.spyReportPanel {
    background-image: url("http://static.eaw1805.com/images/buttons/spyReportsBG.png");
    border: solid 2px;
}

.shipSlot {
    border: 1px solid black;
    background-color: blue;
    background-image: url("http://static.eaw1805.com/images/buttons/dropShip.png");
}

.movementPopup {
    background-image: url("http://static.eaw1805.com/images/buttons/movement/movementMenu.png");
}

.repairShipView {
    background-image: url("http://static.eaw1805.com/images/buttons/repairShipBG.png");
}

.deployTroopsView {
    background-image: url("http://static.eaw1805.com/images/buttons/loadTroops.png");
}